# ==============================================================================
# IP Configuration (Migrated VMs)
# ==============================================================================
# VM1 (api-vm): Internal IP for internal communication
VM1_IP=

# VM2 (db-vm): Internal IP for internal communication
VM2_IP=

# VM3 (workload-vm): Internal IP for scraping / test runner
VM3_IP=

# Public/External IP of VM3 to access Grafana/Prometheus from your browser
WORKLOAD_IP=